/* global */
*{box-sizing: border-box;}
html {
    height: 100%;
    scroll-behaviour:smooth;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-family: "rubik" "arial" sans-serif;
    color:#4a4b4c;
    background-color:#fff;
}

img{
    height:auto;
    max-width: 100%;

}


/* header */
.header-container{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.header-container{
    width: 1440px;
    height: 105px;
    background-color:#f6f6f6
}
.container{
    max-width: 1260px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}
.navigator{
    display: flex;
    align-items:center;
    margin-right: 35px;
}
.navigator a{
    background-color: #fff;
    display: flex;
    padding: 8px 6px;
    border-radius:7px;
}
.navigator a:hover{
opacity: 0.8;
}
.navigator a:avtive{
    opacity: 0.6;
    }
.list-item{
    list-style: none;
    font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #222
}
.list-item{
    display: flex;
}
.list-rubl{
    margin-left: 25px;
}
.money{
    list-style: none;
    font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #2959CE; 
}
.search{
    display: flex;
    justify-content:space-between;
    align-items:center
}
.button{
padding: 13px 20px;
    width: 89px;
height: 45px;
border-radius: 10px;
background-color:#7296EC;
text-decoration: none;
font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
cursor: pointer;
display: inline-block;
}
.button:hover{
    opacity: 0.8;
}
.button:active{
    opacity: 0.6;
}

/* header */

/* main */
.site-menu{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.bold{
    font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #7F7F7F;
}
.bold{
    padding-right: 34px;
}
.bold :last-child{
    margin-right: 0;
}
.divider{
    border: 1px solid #D1D1D1;
}
.reklama{
    width: 1200px;
height: 128px;
border-radius: 8px;
margin-top: 40px;
margin-bottom: 50px;
}
/* .lang-toggle{
    display: flex;
    padding: 3px;
    border-radius:39px;
    background-color:#DCE6FF;
    
}
.lang-toggle-link{
    width: 30px;
    height: 30px;
    font-size: 13px;
    text-align: center; */
}
