/* global */
*{box-sizing: border-box;}
html {
    height: 100%;
    scroll-behaviour:smooth;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-family: "rubik" "arial" sans-serif;
    color:#4a4b4c;
    background-color:#fff;
    flex-wrap: nowrap;
}

img{
    height:auto;
    max-width: 100%;
    
}


/* header */
.wrapper{
    display: block;
}
.header-container{
    display: flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-between;
}
.header-container{
    width: 1440px;
    height: 105px;
    background-color:#f6f6f6;
   
}
.container{
    max-width: 1260px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}
.navigator{
    display: flex;
    align-items:center;
    margin-right: 35px;
}
.navigator a{
    background-color: #fff;
    display: block;
    padding: 8px 6px;
    border-radius:7px;
}
.navigator a:hover{
    opacity: 0.8;
}
.navigator a:avtive{
    opacity: 0.6;
}
.list-item{
    list-style: none;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #222
}
.list-item{
    display: flex;
    
}
.list-rubl{
    margin-left: 25px;
}
.money{
    list-style: none;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #2959CE; 
}
.search{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.lang-togger{
    display: flex;
    justify-content: center;
    align-items:center;
}
.lang-togger{
    padding: 3px;
    border-radius: 39px;
    background-color: #dce6ff  ;
    font-size: 13px;
    margin-left: 25px;
}
.lang-togger-ru{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 30px;
    height: 30px;
    line-height: 30;
    text-decoration: none;
    border-radius: 50%;
    background-color:#fff;
    color:#222
}
.lang-togger-uz{
    display: block;
    justify-content: center;
}
.lang-togger-uz{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: flex;
    justify-content: center;
    align-items:center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:#dce6ff;
    color:#a6a6a6;
    text-decoration: none;
}
.form-input{
    background: #FFFFFF;
    border-radius: 60px;
    width: 275px;
    height: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 20px;
    border:1px solid #fff;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 20px;
}
.button{
    border-radius: 10px;
    background-color: #7296ec;
    text-decoration: none;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color:#fff;
    margin-left: 25px;
}
.site-menu{
    margin-top:30px;
    margin-bottom: 20px;    
}

.unordered-list{
    display: flex;
    padding: 0;
    margin: 0;
}
.unordered-list li:not(:last-child){
    margin-right: 34px;
    
}
.unordered-list li{
    list-style:none;
}
.unordered-list a{
    
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #7F7F7F;
    text-decoration: none;
}
.unordered-list a:hover{
    opacity: 0.8;
}
.unordered-list a:active{
    opacity: 0.6;
}
.divider{
    border:1px solid #d1d1d1;
    margin-top: 20px;
    margin-bottom: 40px;}
    .reklama img{
        display:inline-block;
        
    }

/* main */
.main-content{
   flex-grow: 1; 
   display: flex;
   flex-wrap:nowrap;
   align-items:center;
   padding-top: 0;
   margin-top: 0;
}
.articles{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
   
}

.grid{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    border-radius: 15px;
    background-color: #f6f6f6;
    margin-right: 8px;
    width: 392px;
    height: 382px;
    margin-bottom: 10px;

}






